/* 폰트 설정 */
body {
    /* 웹폰트 적용 */
     font-family: "Inter", sans-serif;
}
/* 전체 선택자 */
* { margin: 0; padding: 0;box-sizing: border-box; }
/* 태그 선택자 */
li { list-style: none; }
a { text-decoration: none; color: #111; display: block;
    white-space: nowrap;    /* 줄바꿈 없애기 */ 
 font-family: "Inter", sans-serif;  /* 웹폰트 적용 */}
/* img의 크기는 부모요소의 크기에 맞춤 */
img { width: 100%; }

/* pc 버전 */
#wrap { width: 100%; margin: 0 auto; }  /* 기본 셋팅 */
/* header와 footer 영역의 하위 요소에 대한 스타일 지정 */
.center-box {
    width: 1600px;
    margin: 0 auto;
    /* center-box의 하위 요소를 가로로 배치 */
    display: flex;
    flex-flow: row nowrap;
    /* 자식들 양 옆에 배치 */
    justify-content: space-between;
    /* 세로 가운데 정렬 */
    align-items: center;
}
/* section영역의 하위요소에 대한 스타일 지정 */
.center-box2 {
    width: 1400px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 100px;
    /* 배경색 투명 */
    background-color: transparent;
    /* 위치 고정 */
    position: fixed;
    top: 0; left: 0;
    /* 항상 맨 위에 배치 */
    z-index: 100;
}
header .center-box {
    height: 100px;
    /* sub-bg 요소보다 더 앞에 배치되어야 할 때 -> z-index는 
    position과 함께 작성 */
    position: relative;
    z-index: 2;
}
/* 그룹 선택자(,) */
header .left-header, 
header .right-header {
    display: flex;
    /* 세로 가운데 맞춤 */
    align-items: center;
}
header .logo {
    /* rem단위: root element라는 뜻으로 root(브라우저)를 기준으로 크기를 설정
    예) 1rem = 16px, 10.625rem = 170px 
    rem이나 em은 상대크기, px는 고정크기, % 부모요소를 기준 */
    width: 10.625rem;
}
header nav {
    /* 내비게이션 높이 주기 */
    height: 30px;
    margin-left: 2rem;
}
/* 닫기 버튼은 pc에서 안보임 */
header nav .close {
    display: none;
}
/* 주메뉴 - 자식 선택자(<) */
header nav > ul {
    display: flex;
}
/* li의 하위요소 .sub에 position:abuslute 작성하면 기준은 li가 됌 */
header nav > ul > li {
    position: relative;
    padding: 0 2rem;
}
header nav > ul > li > a {
    color: white;
    font-size: 1.25rem;
    /* 자식요소 a:after의 위치는 a태그 기준이어야 함 */
    position: relative;
}
/* pc버전에서는 주메뉴 오른쪽의 화살표 안보임 */
header nav > ul > li > a > span {
    display: none;
}
/* 서브 메뉴 */
header ul .sub {
    display: none;
    height: 260px;
    overflow: hidden;
    /* transition: height 0.5s 0.1s ease-out; */
    margin-top: 3rem;
    /* 주메뉴 hover 할 때 밑줄 글씨와 같은 크기로 만들기 */
    position: absolute;
}
header nav .sub li a {
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
    position: relative;
}
/* 서브메뉴 배경 */
header .sub-bg {
    background-color: white;
    position: absolute;
    top: 80px; left: 0;
    width: 100%;
    height: 260px;
    border-top: 1px solid #999;
    display: none;
    overflow: hidden;
    z-index: 1;
    /* transition: height 0.5s 0.1s ease-out; */
}
header .sub-bg a {
    width: 20rem;
    margin-left: 60%;
    margin-top: 2%;
}
/* 주메뉴 마우스 오버하면 서브메뉴 내려옴 */
/* header:has(nav> ul > li:hover) .sub {
    height: 260px;
} */
/* 주메뉴 마우스 오버하면 서브메뉴 배경 내려옴 */
/* header:has(nav> ul > li:hover) .sub-bg {
    height: 260px;
    border-top: 1px solid #999;
} */
/* 주메뉴에 마우스 오버하면 header의 배경색 변경 - active 클래스 추가 */
header.active .logo svg path {
    fill: black;
}
/* 주메뉴에 마우스 오버하면 전체 주메뉴 글자색 변경 - active 클래스 추가 */
header.active nav ul li a {
    color: black;
}
/* 주메뉴에 마우스 오버하면 header 배경색 변경 - active 클래스 추가 */
header.active {
    background-color: white;
}
/* 화면이 스크롤될 때 로고색 변경 */
header.active2 .logo svg path {
    fill: black;
}
/* 화면이 스크롤될 때 전체 주메뉴 글자색 변경 */
header.active2 nav ul li a {
    color: black;
} 
/* 자바에서 화면이 스크롤될 때 배경 반투명하게 변경 */
header .header-bg {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100px;
    position: absolute;
    display: none;
}
/* 주메뉴에 마우스 오버 했을 때 밑줄 애니메이션 */
header nav > ul > li > a:after {
    content: "";
    width: 0;
    height: 4px;
    background-color: #D2E3E6;
    position: absolute;
    bottom: -16px;
    left: 50%;  
    transition: all 0.3s ease-out;
}
header nav > ul > li:hover > a::after {
    width: 100%;
    left: 0;
}
/* 서브메뉴에 마우스 오버했을 때 동그라미 나타나는 애니메이션 */
header nav .sub li a:after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #D2E3E6;
    position: absolute;
    left: 30px;  
    top: 50%;   transform: translateY(-50%);
    transition: all 0.3s ease-out;
    opacity: 0;
}

header nav .sub li a:hover:after {
    left: 0;
    opacity: 1;
}
header .right-header div {
    width: 2rem;
}
/* 주메뉴에 마우스 오버하기 전 돋보기,카트 아이콘 색 설정 */
header .right-header svg path {
    fill: none;  stroke: white; }
header .right-header svg circle {
    stroke: white;  }
/* 주메뉴에 마우스 오버하면 right-header에 돋보기,카트 아이콘 색 변경 - active 클래스 추가 */
header.active .right-header svg path {
    fill: none;    stroke:black }
header.active .right-header svg circle {
    stroke:black }
/* 화면이 스크롤될 때 돋보기,카트 아이콘 색 설정 */
header.active2 .right-header svg path {
     fill: none;    stroke:black;
} 
/* 화면이 스크롤될 때 돋보기,카트 아이콘 색 설정 */
header.active2 .right-header svg circle {
    stroke:black
}
/* 아이콘 간 간격 조절 */
header .right-header .cart {
    padding-left: 12px;
}
/* .menu 영역은 pc에서 안보이게 하기 */
header .right-header .menu {
    display: none;
}
header nav .nav-bg {
    display: none;
}
.s1 {
    width: 100%;
    /* 접속한 장치의 세로길이와 같게 설정 */
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.s1 iframe {
    width: 120%;
    height: 118%;
    position: absolute;
    z-index: 0;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.s1 .text {
    /* 형제요소 iframe과 겹침 */
    position: absolute;
    /* 가운데 정렬 - position과 같이 쓸 수 있음 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    text-align: center;
    z-index: 1;
    color: white;
}
.s1 .text h1 {
    font-size: 2.5em;
}
.s1 .text img {
    width: 350px;
}
.s2 {
    padding-top: 10.625rem; /*위쪽 여백 170px*/
    padding-bottom: 12.5rem; /*아래 여백 200px*/
}
.s2 h2 {
    font-size: 1.5rem;
    font-weight: 400;
    /* 글자와  hr을 아래쪽에 배치 */
    display: flex;
    align-items: flex-end;
    margin-bottom: 6.25rem; /*100px 제목과 설명 떨어트리기*/
}
/* 글자 옆에 선 배치 */
.s2 h2 hr {
    border: none;   /* 테두리 없음 */
    background-color: #1B1510;
    width: 6.25rem;      /* 선 가로 길이 */
    height: 1px;         /* 선 두께 */
    margin-left: 0.5rem;  /* 글자 옆에 조금 떨어지게 */
}
.s2 p {
    font-size: 5rem;
    margin-bottom: 3.125rem; /*50px 설명과 아코디언 떨어트리기*/
}
.s2 .acc {
    width: 100%;
    /* 늘어날 수 있는 최대 가로길이 */
    max-width: 87.5rem;  /*1400px*/
    height: 370px;
    overflow: hidden;
    margin: 0 auto;
}
.s2 .acc ul {
    width: 100%;
    /* 행열로 li 자식요소를 배치함 */
    display: table;
    /* 고정된 테이블 배열 기능 */
    table-layout: fixed;
}
.s2 .acc ul li {
    /* 자식이 5개라 100 나누기 5로 가로길이 */
    height: 370px;
    /* 부모요소에 display: table을 써야 작동 가능 */
    display: table-cell;
    /* li의 자식 요소들을 겹칠 때 기준은 li가 됌 */
    position: relative;
    /* 사진 정렬 */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.s2 .acc ul li div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* 사진 안에 들어가는 글자 */
.s2 .acc ul li div a h3 {
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    /* 부모인 li 기준으로 정렬 */
    position: absolute;
    /* 글자 아래 정렬 */
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 5px #000;
    /* 모든 요소에 대해 0.2 동안 서서히 나타나는 애니메이션,ease(등속운동) */
    transition: all 0.2s ease;
}
.s2 .acc ul li div a p {
    font-size: 1.1rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    /* 글자에 그림자 주기 */
    text-shadow: 3px 2px 10px #000;
    /* 모든 요소에 대해 클릭해도 0.4초 동안 대기, 0.2초 동안 서서히 나타나는 애니메이션,ease(등속운동) */
    transition: all 0.4s ease;
}
/* ul에 마우스 오버했을 때 li의 가로길이 설정 */
.s2 .acc ul:hover li {
    width: 17.5%;
}
.s2 .acc ul li:hover {
    width: 36%;
}
.s2 .acc ul li:hover div h3 {
    /* 제목: 아래에 있었다가 올라옴 */
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}
.s2 .acc ul li:hover div p {
    /* 설명: 아래에서 투명도:0이었다가 나타나면서 올라옴 */
    left: 50%;
    top: 58%; /* h3보다 아래에 위치 */
    transform: translate(-50%, -50%);
    opacity: 1;
}
/* li에 마우스 오버했을 때 이미지 어두워지는 효과 */
.s2 .acc ul li:hover div {
    background-color: rgba(0, 0, 0, 0.54);
}

.s2 .acc ul li:first-child {
    background-image: url(../img/02SECTION_BRAND01.png);
}
.s2 .acc ul li:nth-child(2) {
    background-image: url(../img/02SECTION_BRAND02.png);
}

.s2 .acc ul li:nth-child(3) {
    background-image: url(../img/02SECTION_BRAND03.png);
}

.s2 .acc ul li:nth-child(4) {
    background-image: url(../img/02SECTION_BRAND04.png);
}

.s2 .acc ul li:last-child {
    background-image: url(../img/02SECTION_BRAND05.png);
}
.s3 {
    padding-top: 5.625rem; /*위쪽 여백 90px*/
    padding-bottom: 7.8125rem; /*아래쪽 여백 125px*/
    background-color: #fafaf9;
}
.s3 h2 {
    font-size: 1.5rem;
    font-weight: 400;
    /* 글자와  hr을 아래쪽에 배치 */
    display: flex;
    align-items: flex-end;
    margin-bottom: 3.75rem;
}
.s3 hr {
    border: none;
    background-color: #1B1510;
    width: 6.875rem;
    height: 1px;
    margin-left: 0.5rem;
}
.s3 .center-box2 p {
    font-size: 3.125rem; /*50px*/
    margin-bottom: 3.75rem;
}
.s3 .banner ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.25rem;
    overflow: hidden;
}
.s3 .banner ul li {
    width: 33%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.s3 .banner ul li p {
    font-size: 1.5rem; /*24px*/
}
.s3 .banner ul li a p {
    position: absolute;
    left: 50%;
    top: 93%;
    transform: translate(-50%, -50%);
}
.s3 .banner ul li a {
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}
.s3 .banner ul li img {
    width: 100%;
    height: 500px;
    transform: scale(1);
    transition: all 0.5s ; 
}
/* li에 마우스 오버하면 어두워짐 */
.s3 .banner ul li:hover img {
    transform: scale(1.03); 
}
.s4 {
    padding-top: 5.3125rem; /*85px*/
    padding-bottom: 7.8125rem; /*125px*/
}
.s4 h2 {
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
    margin-bottom: 3.75rem;
}
.s4 h2 hr {
    border: none;
    background-color: #1B1510;
    width: 7.5rem;
    height: 1px;
    margin-left: 0.5rem;
}
.s4 p {
    font-size: 3.75rem; /*60px*/
    margin-bottom: 2.5rem; /*60px*/
}
.s4 .swiper {
    height: 500px;
}
.s4 .swiper .swiper-slide {
    width: 30%;
    height: 360px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: trasform 0.3s;
    position: relative;
    transform: translateY(35%); /*아래로 내려감*/
}
.s4 .swiper .swiper-slide .rect {
    width: 10.25rem;
    height: 2.25rem;
    position: absolute;
    right: 0;   top: 90%;
    text-align: center;
    line-height: 2.25rem;
    background-color: white;
    opacity: 0;
}
.s4 .swiper-slide {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.s4 .swiper .swiper-slide-active .rect {
    opacity: 1;
}
.s4 .swiper .swiper-slide-active {
    transform: translateY(0%);
}
.s4 .swiper .slide1 {
    background-image: url(../img/04SECTION_MENU01.jpg);
}
.s4 .swiper .slide2 {
    background-image: url(../img/04SECTION_MENU02.jpg);
}
.s4 .swiper .slide3 {
    background-image: url(../img/04SECTION_MENU03.jpg);
}
.s4 .swiper .slide4 {
    background-image: url(../img/04SECTION_MENU04.jpg);
}
.s4 .rect p {
    font-size: 1rem; /*16px*/
}
/* swiper 슬라이드 왼쪽 버튼 디자인 수정(커스터 마이징) */
.s4 .swiper .swiper-button-prev {
    width: 5.625rem;    /*90px*/
    height: 5.625rem;
    left: 50%;
    transform: translateX(-450%);
}
.s4 .swiper .swiper-button-prev:after {
    content: "";
    background-image: url(../img/03\ iconGroup1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 5.625rem;
    height: 5.625rem;
}
/* swiper 슬라이드 오른쪽 버튼 디자인 수정(커스터 마이징) */
.s4 .swiper .swiper-button-next {
    width: 5.625rem;    /*90px*/
    height: 5.625rem;
    left: 50%;
    transform: translateX(350%);
}
.s4 .swiper .swiper-button-next:after {
    content: "";
    background-image: url(../img/03\ iconGroup2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 5.625rem;
    height: 5.625rem;
}
/* swiper 슬라이드 페이지네이션 버튼 디자인 수정(커스터 마이징) */
.s4 .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #666;
    margin: 0.8rem;
    opacity: 1;
}
.s4 .swiper .swiper-pagination .swiper-pagination-bullet-active {
    position: relative;
}
/* 버튼에 들어갈 O 만들기 */
.s4 .swiper .swiper-pagination .swiper-pagination-bullet-active:before {
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid #545454;
    border-radius: 50%;
    position: absolute;
    top: 50%;   left: 50%;
    transform: translate(-50%, -50%);
}
.s4 .swiper .swiper-pagination {
    /* 3d (x좌표, y좌표, z좌표 설정) */
    transform: translate3d(11.5%,-100%,0);
}
.s5 {
    width: 100%;
    height: 900px;
    background-image: url(../img/s5_bg.png);
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
    position: relative;
}
.s5 .text-box {
    width: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s5 .text-box h2 {
    margin-top: 20px;
    font-size: 4.5rem;
    text-align: center;
    padding-bottom: 2rem;
}
.s5 .text-box p {
    font-size: 2.2rem;
    align-items: center;
    padding-bottom: 7.9375rem;
    text-shadow: 0 2px 10px rgba(255, 255, 255, 0.5);
}
.s5 .text-box button {
    font-size: 1.25rem;
    width: 18rem;
    height: 4rem;
}
footer {
    padding-top: 10.9375rem;
    padding-bottom: 4.375rem;
    background-color: #FAFAF9;
}
/* 글자 사이즈 */
footer p {
    font-size: 0.9375rem;
}
footer .center-box .up-footer .left-footer {
    padding-bottom: 6.25rem;
}     
/* footer 오른쪽과 왼쪽칸 정렬 */
footer .center-box .up-footer {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
}
/* footer 왼쪽칸 가로로 정렬, 서로 떨어지게 */
footer .center-box .left-footer ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
} 
/* footer 왼쪽칸 가로 길이 주기 */
footer .center-box .left-footer {
    width: 50%;
}
footer .center-box .left-footer ul li a {
    line-height: 1.5625rem;
}
footer .center-box .up-footer .sub-footer ul {
    display: flex;
    flex-flow: column nowrap;
}
footer .center-box .up-footer .right-footer {
    width: 20%;
}
/* footer .center-box .up-footer .info ul {
    gap: 1.2rem;
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}
footer .center-box .up-footer .info ul li:after {
    content: "|";
    margin-left: 1.2rem;
    position: absolute;
    display: flex;
    justify-content: space-around;

} */
 footer .center-box .up-footer .info ul {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    position: relative;
}

footer .center-box .up-footer .info ul li {
    position: relative; /* :after를 위치시키기 위한 기준 */
    padding-right: 1rem; /* 겹침 정도 조절용 */
}

footer .center-box .up-footer .info ul li:not(:last-child):after {
    content: "|";
    position: absolute;
    right: 0%;  /* li 오른쪽 끝에 붙임 */
    top: 50%;
    transform: translate(0, -50%);
    color: #1B1510;
}
footer .up-footer .right-footer .family {
    width: 15.625rem;   /*250px*/
    height: 40px;
    border: 1px solid #545454;
    line-height: 40px;
    /* 자식요소 .family-list의 위치는 부모 기준 */
    position: relative;
    z-index: 11;
}
/* 패밀리 버튼 화살표 크기 정리 */
footer .up-footer .right-footer .family .family-title span {
    width: 1rem;
}
footer .up-footer .right-footer .family .family-title {
    /* 자식요소인 글자와  span 가로로 양쪽 배치, 패밀리 버튼에 글자와 화살표 정리 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 1rem;
}
footer .up-footer .right-footer .family .family-list {
    border: 1px solid #545454;
    width: 15.625rem;   /*250px*/
     /* 자식요소의 위치는 .family 기준 */
    position: absolute;
    left: -0.3%;
    top: 38px;
    background-color: white;
    display: none;
}
/* 패밀리 버튼 설정 */
footer .up-footer .right-footer .family .family-list ul li {
    border-bottom: 1px solid #000;
}
footer .up-footer .right-footer .family .family-list ul li a {
    padding-left: 1rem;
}
footer .up-footer .right-footer .family .family-list ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
/* 가운데 선 */
footer hr {
    width: 50rem;
    height: 1px;
    border-radius: none;
    margin: 0 auto;
}
footer .down-footer .text h5 {
    padding-top: 1.875rem;
    display: flex;
    justify-content: center;
}
footer address {
    font-size: 0.9375rem;
    font-style: normal; /*글자 기울어지지 않게*/
    line-height: 1.6rem;    /*줄간격*/
    padding-top: 1.875rem;
    display: flex;
    justify-content: center;
}

/* 태블릿 버전 */
@media screen and (max-width:1024px) {
    .center-box {
        width: 96%;
        margin: 0 auto;
    }
    header nav > ul > li > a {
        font-size: 1rem;
    }
    .center-box2 {
        width: 100%;
        margin: 0 auto;
    } 
    .s1 .text {
        text-align: center;
        line-height: 4.5rem;
    }
        .s1 .text img {
        width: 25rem;
    }
    .s1 iframe {
        width: 280%;
        /* height: 200%;*/
    }
    .s3 .banner ul li {
        height: 350px;
    }
    .s3 .banner ul li a img {
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .s5 .text-box {
        width: 650px;
        text-align: center;
    }
    .s5 .text-box h2 {
        font-size: 4.0625rem;
    }
    .s5 .text-box p {
        font-size: 1.6rem;
        padding-bottom: 3rem;
    }
    footer {
        padding-top: 10.625rem;
    }
    footer .center-box {
        width: 1024px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    footer .center-box .up-footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    footer .center-box .left-footer {
        width: 70%;
    }
    footer .down-footer address {
        justify-content: center;
        font-size: 0.625rem;
        line-height: normal;
    }
    footer p {
        font-size: 0.9rem;
        text-align: left;
    }
}
/* 모바일 버전 */
@media screen and (max-width:480px) {
    .center-box2 {
        width: 90%;
    }
    header .logo {
        width: 6.25rem;
    }
    header nav {
        position: absolute;
        right: -105%;
        top: 0;
        width: 90%;
        height: 100vh;
        background-color: white;
        margin-left: 0;
        padding: 3rem;
        /* 자식요소 .close와 .ul을 열기준으로 오른쪽에 배치 */
        display: flex;
        flex-flow: column nowrap;
    }
    /* 닫기 버튼은 모바일에서 보임 */
    header nav .close {
    display: block;
    width: 24px;
    float: right;
    }
    header nav > ul {
    flex-flow: column nowrap;
    margin-top: 4rem;
    }
    /* 모바일 버전 내비게이션 주메뉴 */
     header nav > ul > li {
        padding: 0;
    }
    header nav > ul > li > a {
        color: #111;
        padding: 1.5rem 0;
        font-weight: 600;
        /* 자식요소 span과 글자를 가로로 배치 */
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }
    /* 모바일 버전에서는 주메뉴의 밑줄 표시안함 */
    header nav > ul > li > a:after {
        display: none;
    }
    /* 모바일 버전의 내비게이션 서브메뉴 */
    header nav .sub {
        position: relative;
        margin-top: 0;
    }
    /* 모바일 버전에서는 주메뉴의 화살표 보임 */
    header nav > ul > li > a > span {
        width: 1.2rem;
        display: block;
        transition: all 0.3s;
    }
    /* 주메뉴 클릭하면 화살표가 180도 회전 */
    header nav > ul > li > a > span.active {
        transform: rotate(180deg);
    }
    /* 모바일 버전에서는 주메뉴의 사진 보임 */
    header nav .nav-bg {
    display: block;
    margin-top: 5rem;
    }
    /* 모바일 버전에서는 서브메뉴 배경 안보임 */
    header .sub-bg {
        display: none;
    } 
    header .right-header .search {
        display: none;
    }
    header .right-header .cart {
        display: none;
    }
    header .right-header .menu {
        display: block;
    }
    header nav ul li a span img {
        width: 14px;
    }
    header nav .close {
        display: block;
        width: 24px;
    }
    .s1 {
        height: 58vh;
    }
    .s1 .text {
        width: 30rem;
        height: 10rem;
    }
    .s1 .text h1 {
        font-size: 2rem;
        padding-top: 1.875rem;
    }
    .s1 .text img {
        width: 15rem;
    }
    .s2 {
        padding-top: 5.375rem; /*90px*/
        padding-bottom: 6.25rem; /*100px*/
    }
    .s2 h2 {
        font-size: 0.75rem;
        margin-bottom: 1.875rem;
    }
    .s2 h2 hr {
        width: 4rem;
        margin-left: 0;
    }
    .s2 p {
        font-size: 2.5rem;
        margin-bottom: 3.125rem;
    }
    .s2 .acc ul li div a h3 {
        font-size: 0.7rem;
    }
    .s2 .acc {
        height: auto;
    }
    .s2 .acc ul {
        display: flex;
        flex-flow: row wrap;
        height: unset;
        pointer-events: none;
    }
    .s2 .acc ul li {
        width: 50%;
        height: 20vh;
    }
    .s2 .acc ul li:last-child {
        display: none;
    }
    .s3 {
        padding-top: 1.125rem; /*16px*/
        padding-bottom: 5rem; /*80px*/
    }
    .s3 h2 {
        font-size: 0.75rem;
        margin-bottom: 1.875rem;
    }
    .s3 hr {
        width: 2.0625rem;
    }
    .s3 .center-box2 p {
        font-size: 1.5625rem;
    }
    .s3 .banner ul li a p {
        font-size: 0.5rem;
        margin-bottom: 3.5rem;
    }
    .s3 .banner ul li {
        height: 155px;
    }
    .s3 .banner ul li a img {
        height: 155px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .s4 {
        padding-top: 5rem; /*80px*/
        padding-bottom: 1.5rem; /*58px*/
        width: 100%;
    }
    .s4 .swiper-box {
        width: 100%;
    }
    .s4 .swiper-box .swiper .swiper-box .swiper-slide {
        width: 5rem;
    }
    .s4 .center-box2 h2 {
        font-size: 0.75rem;
        margin-bottom: 1.875rem;
    }
    .s4 .center-box2 p {
        font-size: 1.875rem;
    }
    .s4 .swiper {
        width: 100%;
        height: 24rem;
        margin: 0 auto;
    }
    .s4 .swiper .swiper-slide {
        height: 70%;
        transform: translateY(0);
    }
    /* 슬라이드 버튼 위치,크기 조정 */
    .s4 .swiper .swiper-button-prev {
        width: 3.2rem;
        height: 3.2rem;
        left: 0%;
        top: 35%;
        transform: translateX(0);
    }
    .s4 .swiper .swiper-button-prev:after {
        width: 3.2rem;
        height: 3.2rem;
    }
    .s4 .swiper .swiper-button-next {
        width: 3.2rem;
        height: 3.2rem;
        left: auto;
        right: 0%;
        top: 35%;
        transform: translateX(0);
    }
    .s4 .swiper .swiper-button-next:after {
        width: 3.2rem;
        height: 3.2rem;
    }
    /* 슬라이드 하단 버튼 조정 */
    .s4 .swiper .swiper-pagination {
        transform: translate3d(0,-140%,0);
    }
    .s4 .swiper .swiper-pagination .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
    }
    .s4 .swiper .swiper-pagination .swiper-pagination-bullet-active:before {
        width: 20px;
        height: 20px;
        border: 1px solid #545454;
    }
    .s4 .swiper .btns {
        transform: translate3d(-50%, -50%, 0 );
        bottom: -5%;
    }
    .s4 .swiper .swiper-slide .rect {
        width: 8.5rem;
        height: 8rem;
        top: 88%;
    }
    .s4 .swiper .swiper-slide .rect p {
        font-size: 0.8rem;
    }
    
    .s5 {
        height: 380px;
    }
    .s5 .text-box h2 {
        font-size: 2.5rem;
    }
    .s5 .text-box {
        width: 450px;
    }
    .s5 .text-box p {
        font-size: 0.9375rem;
    }
    .s5 .text-box button {
        font-size: 0.75rem;
        width: 140px;
        height: 35px;
    }
    footer {
        padding-top: 4rem;
        padding-bottom: 4rem;
        display: flex;
        justify-content: center;     /* 수평 중앙 정렬 */
        align-items: center;         /* 수직 중앙 정렬 */
        flex-flow: column nowrap;
    }
    footer .center-box {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    footer .up-footer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    footer .up-footer .left-footer {
        display: none;
    }
    footer hr {
        display: none;
    }
    footer .center-box .up-footer .right-footer {
        margin: 0 auto;             /* 가운데 정렬 */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .center-box .up-footer .right-footer .info {
        font-size: 0.625rem;
    }
    /* faily 버튼 위치 크기 조절 */
    footer .center-box .up-footer .right-footer .family {
        width: 9.4375rem;
    }
    footer .center-box .up-footer .right-footer .family .family-title {
        font-size: 0.7.5rem;
    }
    footer .center-box .up-footer .right-footer .family .family-list {
        font-size: 0.8rem;
        width: 9.4375rem;
    }
    footer .down-footer .text {
        width: 430px;
        text-align: center;
    }
    footer .down-footer .text h5 {
        font-size: 0.625rem;
        font-weight: 700;
    }
    footer .down-footer .text .address {
        text-align: center;
        font-size: 0.5rem;
    }
}